@using School.Helpers
<!DOCTYPE html>
<html ng-app="school" ng-strict-di ng-cloak>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" type="image/ico" href="~/images/favicon.ico" />

    <title>
        @if (ViewBag.tipo != null)
        {
            @ViewBag.tipo.ToUpper() <text> | </text>
        }
        @ViewBag.Title
    </title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Primary vendor style -->
    <link href="~/Plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Plugins/flexslider/flexslider.min.css" rel="stylesheet" />
    <link href="~/Content/Icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/Plugins/summernote/dist/summernote.css" rel="stylesheet" />
    @Styles.Render("~/bundles/plugins/css")
    @*@Styles.Render("~/bundles/flexslider/css")*@

    <!-- DEFAULT style -->
    @Styles.Render("~/bundles/style/css")

   
    @Styles.Render("~/bundles/school/css")

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
            {@RenderSection("Styles", required: false)}
</head>
<body ng-controller="mainCtrl as vm" class="@Html.PageClass()">
    <!-- Simple splash screen-->
    <div class="splash">
        <div class="color-line"></div>
        <div class="splash-title">
            <h1>CARGANDO</h1>
            <div class="spinner">
                <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div>
            </div>
        </div>
    </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header -->
    <div id="header">
        @Html.Partial("_Header")
    </div>

    <!-- Navigation -->
    <aside id="menu">
        @Html.Partial("_Navigation")
    </aside>

    <!-- Main view  -->
    <div id="wrapper">
        @RenderBody()

        <!-- Right Sidebar -->
        @Html.Partial("_Right_Sidebar")

        <!-- Footer-->
        @Html.Partial("_Footer")
    </div>

    <!-- Directorio Raiz del Proyecto para las llamadas $http -->
    <script>
        var webroot = "@Url.Content("~/")";
	    var tplVersion = "?v4";
    </script>

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery/js")    
    @if (Request.IsLocal)
    {
        <script src="~/Plugins/angular/angular.js"></script>
    }
    else
    {
        <script src="~/Plugins/angular/angular.min.js"></script>
    }
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jqueryui/js")
    @Scripts.Render("~/bundles/plugins/js")
    @Scripts.Render("~/bundles/school/js")
    @Scripts.Render("~/bundles/templates/js")
    @Scripts.Render("~/bundles/main/js")


    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
